section.grid__cell
  nav
    a(href='#')=cat1
    a(href='#')=cat2
    a(href='#')=cat3
    a(href='#')=cat4
    a(href='#')=cat5
    a(href='#')=cat6
    a(href='#')=cat7
    a(href='#')=cat8
    a(href='#')=cat9
    a(href='#')
      i.material-icons search
