article.news__home
  h2.news__home--title news
  section.news__home--content
    img.news__home--content--picture(src='images/articles/news1.jpg', alt='', width='190', height='133')
    article.news__content
      span.news__content--time=random1 + ' hours ago'
      a.news__content--title(href='#') Exclusive Hell on Wheels Season 5 Episode 5 Preview Scene
    article.news__content
      span.news__content--time=random1 + ' hours ago'
      a.news__content--title(href='#') The 2015 Post-San Diego Comic Con Guide
    article.news__content
      span.news__content--time=random1 + ' hours ago'
      a.news__content--title(href='#') Dear Apple, We Need To Talk About Your Ridiculous iPhone Chargers
    article.news__content
      span.news__content--time=random1 + ' days ago'
      a.news__content--title(href='#') If You Ask Siri What 0 Divided By 0 Is It Gets Brutal
    article.news__content
      span.news__content--time=random1 + ' hours ago'
      a.news__content--title(href='#') Dr. Dre Compton Review: A Grand Finale Game Changer
  a.btn--allnews(href='#') All news
